@charset "UTF-8";

#aMovie_wrap { /* 영상관리 전체를 포함하는 div */
	float: left;
	background-color: white;
	width: 1040px;
	min-height: 800px;
	vertical-align: middle;
}

#aMovie_wrap h1 { /* 영상관리 제목 */
	font-size: 35px;
	color: #ccc;
	margin: 35px 15px;
	font-weight: bold;
	text-shadow: 1px 1px 2px gray;
}

#aMovie_wrap .link { /* 영상 관리 업로드 하이퍼링크 */
/* 	float: right; */
	color: black;
	font-size: 130%;
	margin-bottom: 20px;
}

#aMovie_upload {
	height: auto;
}

#aMovie_list { /* 영상 관리 전체 div */
	float: left;
}

#aMovie_listTable { /* 영상 관리 목록표 */
	width: 1000px;
	border-collapse: collapse; /* 표 테이블  테두리 공간을 없앰 */
}

#aMovie_list .cate1 { /* 영상 관리 표 분류항목(동영상,제목,공개상태,날짜) */
	text-align: left;
}

#aMovie_list .cate2 { /* 영상 관리 표 분류항목(조회수,댓글,좋아요) */
	text-align: right;
}

#aMovie_list .video { /* 영상 관리 표 분류 영상 */
	text-align: left;
}

#aMovie_list .title { /* 영상관리 표 분류 제목 */
	width: 400px;
}

#aMovie_list .date { /* 영상 관리 표 분류 등록날짜 */
	width:90px;
}

#aMovie_list .views { /* 영상 관리 표 분류 조회수 */
	width:90px;
}

#aMovie_list .comment { /* 영상 관리 표 분류 댓글 */
	width:70px;
}

#aMovie_list .like { /* 영상 관리 표 분류 좋아요 수 */
	
}

#aMovie_list th { /* 영상 관리 분류 탭(동영상, 제목 등) */
	border-bottom: 1px solid #e8e8e8;
	vertical-align: middle;
}

#aMovie_list td { /* 영상 관리 분류된 리스트 */
	border-bottom: 1px solid #e8e8e8;
	line-height: 1.4em;
	vertical-align: middle;
}

#aMovie_list tr {
	font-size: 14px;
}

#aMovie_list .trFont { /* 영상 관리 분류된 리스트 글꼴 */
	font-size: 12px;
}

#aMovie_list .editBtn {
	float: right;
}

#aMovie_list .but {
	display: inline-block;
    min-width: 56px;
    height: 36px;
    padding: 9px 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    text-align: center;
    vertical-align: top;
}

#aMovie_pageCtrl { /* 페이지 목록 */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	font-size: 14px;
}

#aMovie_search { /* 검색박스 div */
	float: right;
	margin: 25px 10px 15px 10px;
}

#aMovie_search select { /* 검색 콤보박스 */
	width: 100px;
	max-width: 150px;
	height: 40px;
	margin-right: 10px;
	float: left;
	font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border-radius: 3px;
}

#aMovie_search .input_box {
	width: 250px;
	height: 20px;
	padding: 10px 5px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	float: left;
	background: #eee;
	border-radius: 3px 0 0 3px;
}

#aMovie_search input:focus {
	outline: 0;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

#aMovie_search input:-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

#aMovie_search button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	background: #b3a9eb;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

#aMovie_search button:hover {
	background: #9d8ce2;
}

#aMovie_search button:active, #aMovie_search button:focus {
	background: #9d8ce2;
	outline: 0;
}
