@charset "UTF-8";

/*QnA css*/

#bQna_body{ /*qna 전체 div*/
	font-size:16px;
	line-height:25px;
	width:1200px;
	height:auto;
	min-height:1024px;
	border:1px solid #e8e8e8;
	margin-left:auto;
	margin-right:auto;
}

#bQna_community{ /*커뮤니티 전체*/
	margin-top:46px;
	width:1200px;
	background:#9d8ce2;
	position:relative;
	height:150px;
}

.bQna_community_tit{ /*커뮤니티 h1 div*/
	padding-top:30px;
	padding-left:15px;
	height:auto;
}

.bQna_community_tit h1{ /*커뮤니티 h1 설정*/
	font-size:30px;
	color:#fff;
	font-weight:400;
	margin-bottom:20px;
	line-height:1;
}

.bQna_community_list{ /*커뮤니티 밑 목록들*/
	width:100%;
	height:auto;
	position:absolute;
	bottom:-1.2px;
	left:0.5px;
}

.bQna_community_list ul{
	width:100%;
	list-style:none;
}

.bQna_community_list li{
	border:1px solid #000;
	float:left;
	width:25%;
}

.bQna_community_list a{
	height:60px;
	color:#fff;
	line-height:60px;
	font-size:18px;
	position:relative;
	background:#d4cff3;
	display:block;
	text-align:center;
	text-decoration:none;
}

#bQna_community .bQna_community_list_qna{
	border-bottom:#e8e8e8;
	border-left:#e8e8e8;
	border-right:1px solid #e8e8e8;
}

.bQna_community_list_qna a{
	color:#000;
	background:#fff;
}

#bQna_cont{ /*커뮤니티 제외 전체*/
	float:left;
	width:1200px;
	height:auto;
	overflow:hidden;
	box-sizing:border-box;
	padding-bottom:40px;
}

#bQna_table{
	width:900px;
	heiht:500px;
	border-top:1px solid grey;
	border-bottom:2px solid grey;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
}

#bQna_table th, #bQna_table td{
	border-top:1px solid grey;
	padding:10px;
}

#bQna_writing{ /*글쓰기 div*/
	width:1200px;
	height:50px;
	float:left;
}

#bQna_writing form{
	width:1200px;
	height:auto;
	float:left;
}

.bQna_writing_btn{ /*글 쓰기 버튼*/
	margin-top:20px;
	margin-right:150px;
	float:right;
	cursor:pointer;
}

.bQna_writing_btn:hover{
	background-color:#6a67ce;	
}

#bQna_pagination{ /*하단 페이지 이동 div*/
	width:1200px;
	height:50px;
	margin-top:20px;
	text-align:center;
}

#bQna_pagination a{
	padding:0px 7px;
	color:#999;
	font-size:17px;
	text-decoration:none;
}

#bQna_pagination a:link{ /*방문 전*/
	color:#999;
}

#bQna_pagination a:visited{ /*방문 후*/
	color:#999;
}

#bQna_pagination a:hover{
	text-decoration:underline;
}

#bQna_search{ /*검색 구간 전체 div*/
	width:1200px;
	dsiplay:inline-block;
	text-align:center;
}

#bQna_combo{/*검색 구간 콤보박스*/
	display:inline-block;
	width:auto; height:31px;
	padding:6px 12px;
	font-size:12px;
	color:#a5a5a5;
	border:1px solid #ccc;
	border-radius:4px;
}

#bQna_input{ /*텍필,버튼 통합 div*/
	display:inline-table;
}


/*  board_qna_write.jsp css       */

#bQna_write_body{ /* 전체 div */
	font-size:16px;
	line-height:25px;
	width:1200px;
	height:auto;
	min-height:800px;
	border:1px solid #e8e8e8;
	margin-left:auto;
	margin-right:auto;
}

#bQna_write_table{ /* 테이블 */
	width:900px;
	height:auto;
	min-height:300px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
	table-layout: fixed;
}

#bQna_write_table th, #bQna_write_table td{
	padding:10px;
}

#bQna_write_nickname{ /*닉네임 */
	width:10%;
	height:auto;
	border-top:1px solid grey;
	text-align:center;
}

#bQna_write_nickname_2{ /*닉네임 2*/
	width:90%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bQna_write_title{ /* 제목 */
	width:10%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bQna_write_title_2{ /* 제목 2 */
	width:90%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bQna_write_table #title{
	width:720px;
}

#bQna_write_table #bQna_write_content{ /* 내용 */
	width:100%;
	height:auto;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	padding-left:80px;
}

#bQna_write_button{ /* 버튼 div */
	width:1200px;
	margin-top:30px;
	margin-bottom:30px;
	padding-right:150px;
	text-align:right;
}

.bQna_write_btn{ /* 밑 버튼들 */
	cursor:pointer;
}

.bQna_write_btn:hover{ /*버튼 호버시 */
	background-color:#6a67ce;
}

/*   board_qna_cont.jsp css  */

#bQna_cont_body{
	font-size:16px;
	line-height:25px;
	width:1200px;
	height:auto;
	min-height:800px;
	border:1px solid #e8e8e8;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

#bQna_cont_table{ /* 테이블 */
	width:900px;
	height:auto;
	min-height:300px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
	table-layout: fixed;
}

#bQna_cont_table th, #bQna_cont_table td{
	padding:10px;
}

#bQna_cont_title{ /* 제목 */
	width:70%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bQna_cont_date{ /* 등록날짜 */ 
	width:30%;
	height:auto;
	border-top:1px solid grey;
	text-align:right;
}

#bQna_cont_nickname{ /* 닉네임 */
	width:70%;
	height:50px;
	border-top:1px solid grey;
	text-align:left;
}

#bQna_cont_table #bQna_cont_hit{ /* 조회수 */
	width:30%;
	height:50px;
	border-top:1px solid grey;
	text-align:center;
	padding-left:100px;
}

#bQna_cont_content{ /* 내용 */
	width:100%;
	height:auto;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
}

#bQna_cont_button{ /* 버튼 div */
	width:1200px;
	margin-top:30px;
	margin-bottom:30px;
	padding-right:150px;
	text-align:right;
}

.bQna_cont_btn{ /* 밑 버튼들 */
	cursor:pointer;
}

.bQna_cont_btn:hover{ /*버튼 호버시 */
	background-color:#6a67ce;
}


/* board_qna_edit.jsp css   */

#bQna_edit_body{ /* 전체 div */
	font-size:16px;
	line-height:25px;
	width:1200px;
	height:auto;
	min-height:800px;
	border:1px solid #e8e8e8;
	margin-left:auto;
	margin-right:auto;
}

#bQna_edit_table{ /* 테이블 */
	width:900px;
	height:auto;
	min-height:300px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
	table-layout: fixed;
}

#bQna_edit_table th, #bQna_edit_table td{
	padding:10px;
}

#bQna_edit_nickname{ /*닉네임 */
	width:10%;
	height:auto;
	border-top:1px solid grey;
	text-align:center;
}

#bQna_edit_nickname_2{ /*닉네임 2*/
	width:90%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bQna_edit_title{ /* 제목 */
	width:10%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bQna_edit_title_2{ /* 제목 2 */
	width:90%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bQna_edit_table #title{
	width:720px;
}

#bQna_edit_table #bQna_edit_content{ /* 내용 */
	width:100%;
	height:auto;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	padding-left:80px;
}

#bQna_edit_button{ /* 버튼 div */
	width:1200px;
	margin-top:30px;
	margin-bottom:30px;
	padding-right:150px;
	text-align:right;
}

.bQna_edit_btn{ /* 밑 버튼들 */
	cursor:pointer;
}

.bQna_edit_btn:hover{ /*버튼 호버시 */
	background-color:#6a67ce;
}














