@charset "UTF-8";

/* 배우모집 css */

#bActors_body{ /*전체 div*/
	width:1200px;
	height:auto;
	min-height:1024px;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
}

#bActors_community{	/*커뮤니티 전체*/
	width:1200px;
	background:#9d8ce2;
	position:relative;	
	height:150px;
}

.bActors_community_tit{ /*커뮤니티 h1 div*/
	padding-top:30px;
	padding-left:15px;
	height:auto;
}

.bActors_community_tit h1{/*커뮤니티 h1 설정*/
	font-size:30px;
 	color:#fff;
 	font-weight:400;
 	margin-bottom:20px;
 	line-height:1;
}

.bActors_community_list{ /*커뮤니티 밑 목록들 */
	width:100%;
	height:auto;
	position:absolute;
	bottom:-1px;
	left:0;
}

.bActors_community_list ul{
	width:100%;
	list-style:none;
}

.bActors_community_list li{
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	float:left;
	width:25%;
}

.bActors_community_list a{
	height:60px;
	color:#fff;
	line-height:60px;
	font-size:18px;
	position:relative;
	background:#d4cff3;
	display:block;
	text-align:center;
	text-decoration:none;
}

#bActors_community .bActors_community_list_actors{
	border-bottom:#e8e8e8;
	border-left:#e8e8e8;
}

.bActors_community_list_actors a{
	color:#000;
	background-color:#fff;
}

#bActors_body .bActors_panel{ /*연기자 프로필 주의사항*/
	display:inline-block;
	width:1200px;
	height:135px;
	padding:15px 0px;
	border:1px solid black;
	border-radius:5px;
	font-size:14px;
	line-height:1.2;
	margin-top:50px;
	margin-bottom:30px;
	box-sizing:border-box;
}

.bActors_panel h3{
	margin-left:5px;
	font-size:20px;
}

#bActors_panelbody{ /*주의사항 글*/
	background-color:#fcf8e3;
	border-color:#faebcc;
	color:#8a6d3b;
	padding:15px;
}

#bActors_list{ /*배우 목록들 div*/
	float:left;
	width:1200px;
	height:auto;
	text-align:center;
	padding-left:10px;
}

#bActors_model{ /*배우들 네모 전체div*/
	margin:10px 10px 10px 18px;
	width:14%;
	min-height:auto;
	float:left;
	border:1px solid #ccc;
}

#bActors_model img{
	max-width:100%;
}

#character{ /*캐릭터 이미지*/
	display:inline;
	max-height:16px;
}

#bActors_name{ /*배우 이름*/
	padding:5px;
	margin-top:10px;
	text-align:center;
	font-size:17px;
}

#bActors_name a{ /*하이퍼링크 값 고쳐야함*/
	color:black;
	text-decoration:none;
}

#bActors_name a:linK{ /* 방문 전 */
	color:black;
}

#bActors_name a:visited{ /* 방문 후 */
	color:black;
}

#bActors_name a:hover{/* 마우스 오버 시 */
	text-decoration:underline;
}

#bActors_writing{ /*글 쓰기 버튼 div*/
	width:1200px;
	height:50px;
	float:left;
}

.bActors_writing_btn{ /*글 쓰기 버튼*/
	margin-top:20px;
	margin-right:33px;
	float:right;
	cursor:pointer;
}

.bActors_writing_btn:hover{ /*오버 시*/
	background-color:#6a67ce;
}

#bActors_page{ /*하단 페이지 이동 div */
	width:100%;
	height:50px;
	margin-top:20px;
	text-align:center;
}

#bActors_page a{
	padding: 0px 7px;
	color:#999;
	font-size:17px;
	text-decoration:none;
}

#bActors_page a:link{ /* 방문 전 */
	color:#999;
}

#bActors_page a:visited{ /* 방문 후 */
	color:#999;
}

#bActors_page a:hover{ /* 마우스 오버 시 */
	text-decoration:underline;
}

#bActors_search{ /*검색 구간 전체 div */
	width:1200px;
	display:inline-block;
	text-align:center;
}

#bActors_combo{ /*검색 구간 콤보박스*/
	display:inline-block;
	width:auto; height:31px;
	padding:6.9px 12px;
	font-size:12px;
	color:#a5a5a5;
	border:1px solid #ccc;
	border-radius:4px;
}

#bActors_input{ /*텍필 ,버튼 통합 div*/
	display:inline-table;
}

#clear{
	clear:both;
}

