@charset "UTF-8";

/*자유게시판 css*/

#bFree_body{   /*body 안 전체 div*/
	font-size:16px;
	line-height:25px;
	width:1200px;
	height:auto;
	min-height:1024px;
	border:1px solid #e8e8e8;
	margin-left:auto;
	margin-right:auto;
}

#bFree_community{	/*커뮤니티 전체*/
	margin-top:46px;
	width:1200px;
	background:#9d8ce2;
	position:relative;	
	height:150px;
}

.bFree_community_tit{ /*커뮤니티 h1 div*/
	padding-top:30px;
	padding-left:15px;
	height:auto;
}

.bFree_community_tit h1{/* 커뮤니티 h1 설정*/
	font-size:30px;
 	color:#fff;
 	font-weight:400;
 	margin-bottom:20px;
 	line-height:1;
}

.bFree_community_list{ /*커뮤니티 밑 목록들 div*/
	width:100%;
	height:auto;
	position:absolute;
	bottom:-1px;
	left:0px;
}

.bFree_community_list ul{
	width:100%;
	list-style:none;
}

.bFree_community_list li{
	border:1px solid #000;
	float:left;
	width:25%;
}

.bFree_community_list a{
	height:60px;
	color:#fff;
	line-height:60px;
	font-size:18px;
	position:relative;
	background:#d4cff3;
	display:block;
	text-align:center;
	text-decoration:none;
}

#bFree_community .bFree_community_list_free{
	border-bottom:#e8e8e8;
	border-left:#e8e8e8;
	border-right:#e8e8e8;
}

.bFree_community_list_free a{
	color:#000;
	background:#fff;
}

#bFree_table{
	width:900px;
	height:auto;
	border-top:1px solid grey;
	border-bottom:2px solid grey;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
}

#bFree_table tr:hover{
	background:#fcf8e2;
}

#bFree_table th, #bFree_table td{
	border-top:1px solid grey;
	padding:10px;
}

#bFree_table a{ /*테이블 하이퍼링크*/
	color:black;
	text-decoration:none;
}

#bFree_table a:link{ /*방문 전*/
	color:black;
}

#bFree_table a:visited{ /*방문 후*/
	color:grey;
}

#bFree_table a:hover{ /*호버 시*/
	text-decoration:underline;
}

#bFree_table #author a:visited{ /*닉네임은 방문 후에도 블랙*/
	color:black;
}

#bFree_writing{ /*글 쓰기 div*/
	width:1200px;
	height:50px;
	float:left;
}

/* #bFree_writing form{
	width:1200px;
	height:auto;
	float:left;
} */

.bFree_writing_btn{ /*글 쓰기 버튼*/
	margin-top:20px;
	margin-right:150px;
	float:right;
	cursor:pointer;
}

.bFree_writing_btn:hover{/*오버 시*/
	background-color:#6a67ce;
}

#bFree_pagination{ /*하단 페이지 이동 div */
	width:1200px;
	height:50px;
	margin-top:20px;
	text-align:center;
}

#bFree_pagination a{
	padding: 0px 7px;
	color:#999;
	font-size:17px;
	text-decoration:none;
}

#bFree_pagination a:link{/*방문 전*/
	color:#999;
}

#bFree_pagination a:visited{/*방문 후*/
	color:#999;
}

#bFree_pagination a:hover{/*마우스 오버 시*/
	text-decoration:underline;
}

#bFree_search{ /*검색 구간 전체 div */
	width:1200px;
	display:inline-block;
	text-align:center;
}

#bFree_body #findField{ /*검색 구간 콤보박스*/
	display:inline-block;
	width:auto; height:31px;
	padding:6px 12px;
	font-size:12px;
	color:#a5a5a5;
	border:1px solid #ccc;
	border-radius:4px;
}

#bFree_input{ /*텍필 ,버튼 통합 div*/
	display:inline-table;
}

#findName{
	height:23px;
}




/*   board_free_cont.jsp css  */

#bFree_cont_body{
	font-size:16px;
	line-height:25px;
	width:1200px;
	height:auto;
	min-height:800px;
	border:1px solid #e8e8e8;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

#bFree_cont_table{ /* 테이블 */
	width:900px;
	height:auto;
	min-height:300px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
	table-layout: fixed;
}

#bFree_cont_table th, #bFree_cont_table td{
	padding:10px;
}

#bFree_cont_title{ /* 제목 */
	width:70%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bFree_cont_date{ /* 등록날짜 */ 
	width:30%;
	height:auto;
	border-top:1px solid grey;
	text-align:right;
}

#bFree_cont_nickname{ /* 닉네임 */
	width:70%;
	height:50px;
	border-top:1px solid grey;
	text-align:left;
}

#bFree_cont_table #bFree_cont_hit{ /* 조회수 */
	width:30%;
	height:50px;
	border-top:1px solid grey;
	text-align:center;
	padding-left:100px;
}

#bFree_cont_content{ /* 내용 */
	width:100%;
	height:auto;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
}

#bFree_cont_button{ /* 버튼 div */
	width:1200px;
	margin-top:30px;
	margin-bottom:30px;
	padding-right:150px;
	text-align:right;
}

.bFree_cont_btn{ /* 밑 버튼들 */
	cursor:pointer;
}

.bFree_cont_btn:hover{ /*버튼 호버시 */
	background-color:#6a67ce;
}

#bFree_cont_body #fCont_CommentsCont{ /*댓글 div*/
	width:1200px;
	height:auto;
	min-height:500px;
	padding:0px 20px;
	float:left;
}

#bFree_cont_body .SNS_Comment{
	width: 1150px;
    height: auto;
    border-top: 1px solid grey;
    margin-bottom: 6px;
    text-align: left;
    float: left;
}


/* board_free_write.jsp css      */

#bFree_write_body{ /* 전체 div */
	font-size:16px;
	line-height:25px;
	width:1200px;
	height:auto;
	min-height:800px;
	border:1px solid #e8e8e8;
	margin-left:auto;
	margin-right:auto;
}

#bFree_write_table{ /* 테이블 */
	width:900px;
	height:auto;
	min-height:300px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
	table-layout: fixed;
}

#bFree_write_table th, #bFree_write_table td{
	padding:10px;
}

#bFree_write_nickname{ /*닉네임 */
	width:10%;
	height:auto;
	border-top:1px solid grey;
	text-align:center;
}

#bFree_write_nickname_2{ /*닉네임 2*/
	width:90%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bFree_write_title{ /* 제목 */
	width:10%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bFree_write_title_2{ /* 제목 2 */
	width:90%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bFree_write_table #title{
	width:720px;
}

#bFree_write_table #bFree_write_content{ /* 내용 */
	width:100%;
	height:auto;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	padding-left:80px;
}

#bFree_write_button{ /* 버튼 div */
	width:1200px;
	margin-top:30px;
	margin-bottom:30px;
	padding-right:150px;
	text-align:right;
}

.bFree_write_btn{ /* 밑 버튼들 */
	cursor:pointer;
}

.bFree_write_btn:hover{ /*버튼 호버시 */
	background-color:#6a67ce;
}

/* board_free_edit.jsp css   */

#bFree_edit_body{ /* 전체 div */
	font-size:16px;
	line-height:25px;
	width:1200px;
	height:auto;
	min-height:800px;
	border:1px solid #e8e8e8;
	margin-left:auto;
	margin-right:auto;
}

#bFree_edit_table{ /* 테이블 */
	width:900px;
	height:auto;
	min-height:300px;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	box-sizing:border-box;
	table-layout: fixed;
}

#bFree_edit_table th, #bFree_edit_table td{
	padding:10px;
}

#bFree_edit_nickname{ /*닉네임 */
	width:10%;
	height:auto;
	border-top:1px solid grey;
	text-align:center;
}

#bFree_edit_nickname_2{ /*닉네임 2*/
	width:90%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bFree_edit_title{ /* 제목 */
	width:10%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bFree_edit_title_2{ /* 제목 2 */
	width:90%;
	height:auto;
	border-top:1px solid grey;
	text-align:left;
}

#bFree_edit_table #title{
	width:720px;
}

#bFree_edit_table #bFree_edit_content{ /* 내용 */
	width:100%;
	height:auto;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	padding-left:80px;
}

#bFree_edit_button{ /* 버튼 div */
	width:1200px;
	margin-top:30px;
	margin-bottom:30px;
	padding-right:150px;
	text-align:right;
}

.bFree_edit_btn{ /* 밑 버튼들 */
	cursor:pointer;
}

.bFree_edit_btn:hover{ /*버튼 호버시 */
	background-color:#6a67ce;
}



