@charset "UTF-8";

/* 프로젝트 리스트 메인 *************************************** 프로젝트 리스트 메인 ***/
.fList_wrap {
	width: 1200px;
	height: auto;
	min-height: 1024px;
	box-sizing: border-box;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}
/* 카테고리명, 설명 *************************************** 카테고리명, 설명 ***/
#fList_title {
	/* border: 1px solid red; */
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 85px;
	padding-right: 85px;
	width: 1200px;
	height: 170px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	/* border-bottom: 1px solid;
	border-color: #E8E8E8; */
}

#fList_title section {
	width: 1200px;
	height: 120px;
	margin: 10px auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

#fList_title h3 {
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin: 10px auto;
}

#fList_title p {
	font-family: sans-serif;
	font-size: 17px;
	margin: 10px auto;
}

#fList_title #title_category_container {
	font-family: sans-serif;
	font-size: 15px;
	margin: 10px auto;
	display: flex;
	justify-content: flex-start;
}

#fList_title #title_category_container span {
	display: inline;
	margin-right: 10px;
}
/* 펀딩 리스트 시작 *************************************** 펀딩 리스트 시작 ***/
#fList_project {
	/* border: 1px solid red; */
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
}
/* 좌측 리스트 *************************************** 좌측 리스트 ***/
#fList_left {
	border-right: 1px solid;
	border-color: #E8E8E8;
	box-sizing: border-box;
	width: 560px;
	height: 640px;
	padding-top: 30px;
	padding-left: auto;
	padding-right: auto;
	align-items: center;
	float: left;
}

#fList_left h3 {
	font-family: "맑은 고딕";
	font-size: 14px;
	font-weight: bold;
	margin: 10px auto;
}
/* 마우스 오버되는 컨테이너 *****************************************/
#hover_container {
	width: 530px;
	height: 570px;
	margin-left: 0px;
	margin-right: auto;
}

#hover_container img {
	float: left;
}

.progress {
	height: 12px;
	/* width: 530px; */
	width: 100%;
	background-color: #E8E8E8;
	font-family: Helvetica;
	font-size: 12px;
	float: left;
	margin: 0px auto;
}

.progress-bar {
	height: 12px;
	background-color: #6a67ce;
}

#hover_container h3 {
	font-size: 21px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

#hover_container p {
	font-family: "맑은 고딕";
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 25px;
	line-height: 1.3em;
}

#hover_container:hover h3 {
	text-decoration: underline;
	font-weight: bold;
	color: #6a67ce;
}

#hover_container:active h3 {
	text-decoration: underline;
	font-weight: bold;
	color: #6a67ce;
}
/* 우측 리스트 *************************************** 우측 리스트 ***/
#fList_right {
	/* border-color: #E8E8E8; */
	/*border: 1px solid red;*/
	width: 460px;
	height: auto;
	overflow: auto;
	min-height: 450px;
	padding-top: 30px;
	padding-left: auto;
	padding-right: auto;
	align-items: center;
	float: left;
}

#fList_right h3 {
	font-family: "맑은 고딕";
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
}

#fList_right ul {
	list-style: none;
}

#fList_right ul li {
	margin-bottom: 10px;
}
/* 마우스 오버되는 컨테이너 *****************************************/
.hover_container2 {
	border-bottom: 1px solid;
	border-color: #E8E8E8;
	width: 430px;
	height: 120px;
	margin-left: auto;
	margin-right: 0px;
	padding-top: 1.1rem !important;
	padding-bottom: 1.1rem !important;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}

.hover_container2 img {
	float: left;
	margin-right: 25px;
	margin-top: auto;
	margin-bottom: auto;
}

.hover_container2R {
	float: left;
	width: 220px;
	height: 95px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

#fList_right .hover_container2 h3 {
	font-family: initial; /* 상속 받아서 이상하게 깨짐. 문제 해결 찾아보기 */
	font-size: 14px;
	padding: 0px 0px;
	margin: 0px 0px;
	display: inline-block;
	width: 220px;
	line-height: 27px;
	flex: 1 1 2em;
}

#fList_right .hover_container2:hover h3 {
	text-decoration: underline;
	font-weight: bold;
	color: #6a67ce;
}

#fList_right .hover_container2:active h3 {
	text-decoration: underline;
	font-weight: bold;
	color: #6a67ce;
}

.hover_container2 span {
	display: inline-block;
	font-size: 13px;
	width: 220px;
	font-weight: bold;
	line-height: 27px;
	flex: 1 1 2em;
}

.hover_container2 p {
	display: inline-block;
	width: 220px;
	font-size: 10px;
	line-height: 15px;
	flex: 1 1 2em;
}

.likebtn {
	background-color: white;
	border: 1.3px solid #656969;
	color: #656969;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	width: 25px;
	padding: 2px 0px 0px 0px;
	height: 25px;
	font-size: 13px;
	border-radius: 12px;
}

.likebtn i {
	color: #656969;
}

.likebtn:hover {
	border: 1.3px solid #6a67ce;
	color: #6a67ce;
}

.likebtn:hover i {
	color: #6a67ce;
}

.likebtn:active {
	border: 1.3px solid #6a67ce;
	color: #6a67ce;
}

.likebtn:active i {
	color: #6a67ce;
}
/* 페이지 넘버  *****************************************/
#page_num_container {
	display: flex;
	justify-content: flex-end;
}

.page_num {
	background-color: white;
	border: none;
	color: #656969;
	text-align: center;
	text-decoration: none;
	display: inline;
	font-size: 13px;
	margin: 10px 3px;
}

.page_num:hover {
	color: #6a67ce;
	font-weight: bold;
	text-decoration: underline;
}

.page_num:active {
	color: #6a67ce;
	font-weight: bold;
	text-decoration: underline;
}
/* 구독 홍보 ****************************************************** 구독 홍보  ***/
#NewsletterSignUp {
	width: 1200px;
	height: 200px;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

#NewsletterSignUp h3 {
	font-family: sans-serif;
	font-size: 35px;
	font-weight: bold;
	display: flex;
	line-height: 80px;
}

#NewsletterSignUp p {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	display: flex;
	line-height: 60px;
}

#NewsletterSignUp #NewsletterSignUp_form {
	display: flex;
	height: 100px;
}
.subscribeBtn {
	width:100px;
	height:32px;
	margin-left:3px;
	border-radius:4px;
	cursor:pointer;
}
/* 프로젝트 4개짜리 ****************************************************** 구독 홍보  ***/
#fList_projectfour {
	width: 1080px;
	float: left;
	align-items: center;
}

#fList_projectfour h3 {
	font-family: "맑은 고딕";
	font-size: 14px;
	font-weight: bold;
	margin: 10px auto;
}

.fList_projectfour_one {
	float: left;
	width: 250px;
	margin: 0px 5px;
}

div.gallery {
	border: 2px solid #ccc;
}

div.gallery:hover {
	border: 2px solid #777;
}

div.gallery img {
	width: 246px;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}