@charset "UTF-8";

#background_wrap {
	width: 100%;
	height: 100%;
	align-items: center;
	text-align: center;
}
/* 메인 **************************************************************** 메인 ***/
#main_wrap {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 1024px; /*최소높이*/
	height: auto;
	align-items: center;
}

#header {
	margin-left: auto;
	margin-right: auto;
}

/* 헤더 첫번째 메뉴바 ******************************************************/

/* 헤더 첫번째 메뉴바 수정 후 */
#header_menuBar {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 45px;
	text-align: center;
	/* 	border-bottom: 1px solid;
	border-color: #E8E8E8;
	margin-bottom: 10px; */
	padding: 0px 30px;
}

.flex-container {
	width: 1140px;
	height: 45px;
	display: flex;
	align-items: stretch;
	justify-content: center;
	/* 	background-color: #f1f1f1; */
	/* 	border-bottom: 1px solid; */
	/* 	border-color: #E8E8E8; */
	/* 	margin-bottom: 10px; */
	/* margin-top: 10px; */
}

.flex-container>div {
	color: black;
	margin: 10px 0px;
	text-align: center;
	font-family: sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	color: black;
	display: inline;
}

/* 헤더 첫번째 메뉴바 수정 전 - 나중에 삭제 필 */
#header_menu1 {
	width: 1200px;
	height: 60px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	/* 	border-bottom: 1px solid;
	border-color: #E8E8E8;
	margin-bottom: 10px; */
}

#header_menu1 nav {
	/* width: 1200px; min-height: 60px; */
	display: flex;
}

#header_menu1 nav ul { /* 메뉴바 목록 */
	width: 1200px;
	height: 60px;
	float: left;
	list-style: none; /* 목록 앞 점 없애기 */
	padding: 0px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header_menu1 nav ul li {
	margin: auto 20px; /* 상하 바깥여백 , 좌우 바깥여백 */
	display: flex;
	font-size: 17px;
	line-height: 1.5em;
}

/* 헤더 두번째 메뉴바 */
#header_menu2 {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	min-height: 20px;
	text-align: center;
}

#header_menu2 nav {
	width: 1200px;
	min-height: 20px;
}

#header_menu2 nav ul { /* 메뉴바 목록 */
	width: 1200px;
	float: left;
	list-style: none; /* 목록 앞 점 없애기 */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header_menu2 nav ul li {
	margin: 5px 17px; /* 상하 바깥여백 , 좌우 바깥여백 */
	font-family: sans-serif;
	font-size: 17px;
	display: flex;
	line-height: 1.2em;
}

/* sns 헤더 임시 수정 후 */
#header_background {
	width: 100%;
	height: 45px;
	background-color: #6a67ce;
}

#sns_header {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#sns_headerMenu {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 45px;
	text-align: center;
	/* 	border-bottom: 1px solid; */
	background-color: #6a67ce;
	margin-bottom: 10px;
	padding: 0px 30px;
	color: white;
}

#sns_headerMenu a {
	color: white;
}

#snsHeader_searchbar input::placeholder {
	color: #e8e8e8;
}

/* sns 헤더 임시 수정 전 */
body {
	background-color: white;
	margin: 0px auto;
	padding: 0px auto;
	font-size: 0.75em; /*글자크기*/
	line-height: 1.2em; /*수직간격*/
	color: #333; /*글자색*/
}

#sns_header {
	width: auto;
	height: 55px;
	text-align: center;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	border-bottom: 1px solid;
	background-color: #6a67ce;
}

#sns_header nav {
	/* width: 1200px; min-height: 60px; */
	display: flex;
	color: white;
}

#sns_header nav ul { /* 메뉴바 목록 */
	width: 1200px;
	height: 55px;
	list-style: none; /* 목록 앞 점 없애기 */
	padding: 0px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

#sns_header nav ul li {
	float: left;
	display: flex;
	margin: auto 20px;
}
/* */

/* 푸터 **************************************************************** 푸터 ***/
/* 푸터 전체 */
/* #global_footer_wrap p, i, nav, nav ul, nav ul li, div, h4, a {
	font: 14px "맑은 고딕" #656969 !important;
	line-height: 1.7em !important;
} */

#global_footer_wrap {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: auto;
	overflow: hidden;
	font: 14px "맑은 고딕" #656969;
	line-height: 1.7em;
}
/* 푸터 메뉴바 */
#subcategory_bar {
	max-width: 1200px;
	height: 20px;
	text-align: left;
	float: center;
	color: #282828;
	fill: #282828;
	padding: 0px 30px;
	float: center;
}

#subcategory_bar nav { /* 메뉴바 목록 */
	float: left;
}

#subcategory_bar nav ul { /* 메뉴바 목록 */
	list-style: none; /* 목록 앞 점 없애기 */
	width: 1200px;
	height: 20px;
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
}

#subcategory_bar nav ul li {
	display: inline-block;
	margin-right: 10px;
	font: 15px "맑은 고딕" #656969;
}

#footer_container section {
	display: inline-block;
	width: 250px;
	height: 200px;
	padding: auto 0px;
	margin: 0px;
	font: 15px "맑은 고딕" #656969;
}

#footer_about, #footer_help, #footer_hello, #footer_more {
	margin: 10px;
	font: 14px "Arial" #656969;
	line-height: 1.7em;
}

#footer_container {
	padding-left: 30px;
	padding-right: 30px;
}

#footer_container section h4 {
	float: left;
	width: 180px;
	height: 20px;
	text-align: left;
	margin: 10px;
}

#footer_container section ul {
	float: left;
	margin: 10px;
	list-style: none;
	width: 180px;
	height: 140px;
	text-align: left;
}

#footer_container section ul li {
	float: center;
}

#footer_policy ul {
	float: left;
	list-style: none;
	text-align: center;
}

#footer_policy ul li {
	float: left;
	margin-right: 10px;
}

#footer_icons {
	padding: 0px 30px;
	height: 25px;
	width: 1140px;
}

#footer_moving {
	display: inline-block;
	float: left;
	height: 25px;
}

#footer_sns {
	display: inline-block;
	float: right;
	height: 25px;
}

#footer_policy {
	min-height: 80px;
	padding: 0px 30px;
	width: 1200px;
}