@charset "UTF-8";

#mJoin_wrap {
	width: 1200px;
	height: auto;
	min-height: 930px;
	margin: auto auto;
	align-items: center;
	display: flex;
	justify-content: center;
	background-color: #F5F5F5;
}

#mJoin_form {
	width: 460px;
	min-height: 600px;
	height: auto;
	margin : auto auto;
	margin-top:150px; 
	margin-bottom : 50px;
	display: inline-block;
	box-sizing: border-box;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	outline: none;
}

#mJoin_form section {
	float:left;
	min-height: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box; 
}
 /************************상단 텍스트************************/
 
 #mJoin_form .am_Movingmember {
	width: 400px;
	height: auto;
	text-align: center;
	margin: auto auto;
	padding-top:30px;
}

#mJoin_form .am_Movingmember hr {
	margin: 0px auto;
	width: 400px;
	float: left;
}

#mJoin_form .am_Movingmember span {
	margin: 10px auto;
	display: inline-block;
	font-size:15px;
}
#mJoin_form h2 {
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
	margin-top:10px;
	margin-left:30px;
}

.terms_check_all {
	width:350px;
	margin-left:auto;
	margin-right:auto;
}
 
 /************************이메일 입력폼************************/
#email_field {
	float:left;
/* 	border : 1px solid red; */
	min-height:100px;
}

.mv_email {
	float:left;
	width:458px;
	min-height:95px;
/* 	border: 1px solid black; */
	margin : 10px 10px 0 10px;
}

/* 인증번호 발송 안내문 */
#emailCheck_message {
    float: left;
    width: 400px;
    height: 15px;
    margin-left : 12px;
    /* border: 1px solid red; */
    line-height: 1.2;
}
/* 이메일 인증하기버튼 */	
.btnCheckEmail {
	float:left;
	width:100px;
	height:65px;
	margin:5px; 
}

/* 인증번호 입력폼 */
.text_input { 
	width: 306px;
	height: 45px;
	padding: 10px 5px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	float: left;
	background-color: #eee;
	border-radius: 3px;
	margin:5px;
}

.input_text:focus {
	outline: 0;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.input_text:-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: 10px gray;
}

/* 인증번호입력 버튼 */
.btnCheckToken {
	float:left;
	width:100px;
	height:65px;
	margin:5px;
}

/************************회원정보 입력폼************************/

#info_field {
	float:left;
	width:459px;
	min-height:95px;
/* 	border: 1px solid black; */
	padding : 10px;
}

#info_name_nick {
	float:left;
	width:100%;
	min-height:50px;
/* 	border:1px solid red; */
/* 	margin:5px 0px; */
}

		/*닉네임 입력 폼 */
.text_infoNickInput {
	width: 415px; 
	height: 45px;
	padding: 10px 5px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	float: left;
	background-color: #eee;
	border-radius: 3px;
	margin:5px;
}
		/* 닉네임 중복확인 버튼 */
.nickCheckBtn {
	float:left;
	width:100px;
	height:65px;
	margin:5px;
}

#nickcheck_message {
	float:left;
	width:400px;
	height:15px;
	margin-left :12px;
/* 	border:1px solid red; */
	line-height: 1.2;
}


/*이름,비밀번호,비밀번호 확인 입력폼 */
.text_infoInput {
	width: 415px;
	height: 45px;
	padding: 10px 5px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	float: left;
	background-color: #eee;
	border-radius: 3px;
	margin:5px;
}

#pwdCheck_message {
	float:left;
	width:400px;
	height:15px;
	margin-left :12px;
/* 	border:1px solid red; */
	line-height: 1.2;
}

#phone_box {
	float:left;
	width:435px;
	min-height:30px;
	margin:5px 0;
}
/************************장르선택 입력폼************************/

#genreCheck_field {
		float:left;
	width:398px;
	min-height:95px;
/* 	border: 1px solid green; */
	margin : 10px 30px;
}

.genre_check {
	width:20px;
	height:20px;
	padding:3px;
}

.genre_name {
	font-size:15px;
	padding:5px;
}

/************************버튼 필드************************/

#joinBtn_field {
	float:left;
/* 	border : 1px solid blue; */
}

.joinBtn1 {
	float:left;
/* 	border : 3px solid black; */
	margin-left:20px;
	margin-top : 10px;

}

/************************회원가입 버튼************************/
#mJoin_form #joinBtn {
	position: relative;
	float: left;
	width:418px;
	height:56px;
	border: 0;
	padding: 0;
	cursor: pointer;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	background: #b3a9eb;
	border-radius: 3px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	margin: auto;
}

#mJoin_form #joinBtn:hover {
	background: #9d8ce2;
}

#mJoin_form #joinBtn:active {
	background: #9d8ce2;
	outline: 0;
}

/* /************************라인 필드************************/ */
/* .separator_join { */
/* 	float:left; */
/* 	width:100%; */
/* 	height: 45px; */
/* 	vertical-align: center; */
/* 	text-align: center; */
/* } */
/* .separator_join span { */
/* 	font-size: 12px; */
/* 	line-height: 4em; */
/* } */

/* /************************소셜 회원가입버튼 필드************************/ */
/* .joinBtn2 { */
/* 	float:left; */
/* 	width:419px; */
/* /* 	border : 3px solid b5lack;  */ */
/* 	margin-left:20px; */
/* } */

/* /************************페이스북 회원가입************************/ */
/* #mJoin_form #facebookJoinBtn { */
/* 	overflow: visible; */
/* 	position: relative; */
/* 	float: left; */
/* 	width:418px; */
/* 	height:56px; */
/* 	border: 0; */
/* 	padding: 0; */
/* 	cursor: pointer; */
/* 	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma'; */
/* 	color: #fff; */
/* 	text-transform: uppercase; */
/* 	background: #4a4aff; */
/* 	border-radius: 3px; */
/* 	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3); */
/* 	margin: auto; */
/* }  */

/* #mJoin_form #facebookJoinBtn:hover { */
/* 	background: #304d8a; */
/* } */

/* #mJoin_form #facebookJoinBtn:active { */
/* 	background: #304d8a; */
/* 	outline: 0; */
/* } */

/* /************************구글,네이버,카카오,트위터 회원가입버튼************************/ */


/* /* 소셜 로그인 버튼 효과 */ */
/* #kakaoJoinBtn, #naverJoinBtn, #googleJoinBtn, #twitterJoinBtn { */
/* 	height: 53px; */
/* 	width: 196px;  */
/* 	overflow: visible; */
/* 	position: relative; */
/* 	float: left; */
/* 	border: 1px solid; */
/* 	border-color: #999; */
/* 	padding: 0px; */
/* 	cursor: pointer; */
/* 	font: 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma'; */
/* 	color: #black; */
/* 	text-transform: uppercase; */
/* 	background: #fff; */
/* 	border-radius: 3px; */
/* 	margin : 5px; */
/* } */

/* #kakaoLoginBtn:hover, #naverLoginBtn:hover, #googleLoginBtn:hover, */
/* 	#twitterLoginBtn:hover { */
/* 	background: #eee; */
/* } */

/* #kakaoLoginBtn:active, #naverLoginBtn:active, #googleLoginBtn:active, */
/* 	#twitterLoginBtn:active { */
/* 	background: #eee; */
/* 	outline: 0; */
/* } */

