@charset "UTF-8";

/* 전체 감싸는 랩 */
#mJoin_wrap {
	width: 1200px;
	height: auto;
	min-height: 930px;
	margin: auto auto;
	align-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto auto;
	background-color: #F5F5F5;
}
/* sns용 전체 감싸는 랩 */
#msJoin_wrap {
	width: 1200px;
	height: auto;
	min-height: 930px;
	margin: auto auto;
	align-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto auto;
	background-color: #f2f0fb;
}
/* 회원인 경우 */
#mJoin_form #am_Movingmember {
	width: 400px;
	height: auto;
	text-align: center;
	margin: auto auto;
}

#mJoin_form #am_Movingmember hr {
	margin: 0px auto;
	width: 400px;
	float: left;
}

#mJoin_form section #am_Movingmember span {
	margin: 10px auto;
	display: inline-block;
}

#mJoin_form {
	width: 460px;
	min-height: 600px;
	height: auto;
	margin: auto auto;
	display: inline-block;
	box-sizing: border-box;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	outline: none;
}

#mJoin_wrap form {
	border: none;
	outline: none;
}

#mJoin_form #mJoin_table {
	width: 400px;
	height: 560px;
	border: 0px;
	margin: auto auto;
}

#mJoin_form #mJoin_table h2 {
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
}

#mJoin_form section {
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
	margin: auto auto;
}

#mJoin_form #mJoin_table {
	width: 400px;
	height: 560px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#mJoin_table th, #mJoin_table td {
	height: 45px;
	width: 400px;
	font-style: 15px gray;
}

#mJoin_table .input_text {
	height: 45px;
	width: 400px;
	display: block;
	font-size: 17px;
	margin: 5px auto;
}

#mJoin_table .save_id {
	float: left;
}

#mJoin_table a {
	float: left;
}

.separator {
	height: 45px;
	vertical-align: center;
	text-align: center;
}

.separator span {
	font-size: 12px;
	line-height: 4em;
}

#facebookJoinBtn, #joinBtn {
	width: 413px;
	height: 56px;
}

/* 인풋 텍스트박스 효과 */
#mJoin_form .input_text {
	width: 400px;
	height: 45px;
	padding: 10px 5px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	float: left;
	background-color: #eee;
	border-radius: 3px;
}

#mJoin_form .input_text:focus {
	outline: 0;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

#mJoin_form .input_text:-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: 10px gray;
}

#mJoin_form #mJoin_table td span {
	font-size: 12px;
	display: inline;
	font-weight: bold;
}

#mJoin_form #mJoin_table td #save_id {
	display: inline;
}

#mJoin_form #mJoin_table td a {
	font-size: 12px;
	display: inline;
	float: right;
	font-weight: bold;
}

/* 일반 회원가입 버튼 */
#mJoin_form #joinBtn {
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	background: #b3a9eb;
	border-radius: 3px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	margin: auto;
}

#mJoin_form #joinBtn:hover {
	background: #9d8ce2;
}

#mJoin_form #joinBtn:active {
	background: #9d8ce2;
	outline: 0;
}

/* 페이스북 회원가입 버튼 */
#mJoin_form #facebookJoinBtn {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	background: #304d8a;
	border-radius: 3px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	margin: auto;
}

#mJoin_form #facebookJoinBtn:hover {
	background: #304d8a;
}

#mJoin_form #facebookJoinBtn:active {
	background: #304d8a;
	outline: 0;
}

/* 소셜 회원가입 버튼 효과 */
.social-join {
	align-items: center;
}

#kakaoJoinBtn, #naverJoinBtn, #googleJoinBtn, #twitterJoinBtn {
	height: 53px;
	width: 130px;
	overflow: visible;
	position: relative;
	float: right;
	border: 1px solid;
	border-color: #999;
	padding: 0;
	cursor: pointer;
	font: 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #black;
	text-transform: uppercase;
	background: #fff;
	border-radius: 3px;
	margin: auto;
	display: inline-block;
}

#kakaoJoinBtn:hover, #naverJoinBtn:hover, #googleJoinBtn:hover,
	#twitterJoinBtn:hover {
	background: #eee;
}

#kakaoJoinBtn:active, #naverJoinBtn:active, #googleJoinBtn:active,
	#twitterJoinBtn:active {
	background: #eee;
	outline: 0;
}

/* 적용취소
.hline {
	width: 100%;
	height: 1px;
	background: black;
}

.separator .background {
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; this centers the line to the full width specified
position:absolute;
positioning must be absolute here, and relative positioning must be applied to the parent
top:50%;
left:0;
right0;
bottom:0;
width:95%;
z-index:-1;
}

.wz_input {
	width: 370px;
	height: 50px;
	display: block;
	font-size: 17px;
	margin: 10px auto;
}

.wz_input input {
	height: 48px;
	line-height: 1.2em;
	font-size: 17px;
	font-weight: 300;
}*/