@charset "UTF-8";

#SNS_Profile_Wrap{ /* 전체 스타일 설정 */
	width: 1250px;
	height: auto;
	box-sizing: border-box;
	line-height: 1em;
	margin: auto auto;
	background-color: #f2f0fb;
	align-items: center;
	z-index: -2;
}
/* 상단 중단 하단 */
#SNS_Profile_Top{/* 상단*/
	width: 1250px;
	height: 500px;
	z-index: 0;
	-ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
#SNS_Profile_Set{ /* 버튼(중단) 영역 */
	position:relative;
	width:1250px; 
	height:auto;
	z-index: 1;
	margin-top: 0px;
	list-style: none;
	align-content: center;
	-ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
#SNS_Profile_Down{/* 하단 대 영역 */
	position: relative;
	width:1250px;
	height:auto;
	z-index:2;
	overflow-x: hidden;
	/* overflow: hidden; */
	float:left;
}
#SNS_Profile_Down_Scroll{
	width:6250px;
	height:auto;
	float:left;
}
#SNS_Profile_Writer{
   position: fixed;
   top: 58%;
   left:42px;
   width: 587px;
   height: auto;
   box-sizing: border-box;
   border-radius: 5px;
/*    padding-left: 2px; */
   z-index: 30;
   color:black;
}
#SNS_None_Ul{
	list-style: none;
}
#SNS_Profile_Upload_Top{
	height: 90px;
	padding-bottom: 5px;
	padding-left: 15px;
/* 	background: #f2f0fb; */
}
.SNS_Profile_Upload_Picture{
	float:left;
	width: 80px;
	height: 80px;
	border: 1px solid white;
	margin-right:13px;
	animation-duration:0.3s;
	animation-name:showimg;
}
@keyframes showimg{
	from{
/* 		width:0; */
/* 		height:0; */
		opacity:0;
	}
	to{
/* 		width:80px; */
/* 		height:80px; */
		opacity:1;
	}
}


#SNS_Profile_Mid_Left{
	position:relative;
	width: 467px;
   height: 280px;
   border: 1px solid #e8e8e8;
   margin: 5px 0px 5px 5px;
   padding: 5px 0px 5px 5px;
   background: white;
   float: left;
   box-sizing: border-box;
   z-index:40;
}
#SNS_Profile_Upload_Roof{
	width: 587px;
	height: 30px;
	background: #6a67ce;
/* 	margin: 2px 2px 0px 0px; */
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	z-index: 30;
	border-bottom: 1px solid #e8e8e8;
	cursor:pointer;
}
#SNS_Profile_Story{/* 하단 타임라인 영역 */
/* 	position:relative; */
	width: 1250px;
	height:auto;
	/* border: 1px solid #b3a9eb; */
	z-index: 0;
	float: left;
	/* background: #eae6fa; */
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	padding-left: 580px;
}
.SNS_Profile_Post{/* 타임라인 출력 영역 */
	width: 640px;
	height:auto;
/* 	min-height:500px; */
	margin: 5px auto;
	overflow:auto; display: inline-block;
	background: #eae6fa;
	padding: 10px 5px 0px 15px;
	border: 1px solid #a6a6a6;
	border-radius:15px;
}
#SNS_Profile_Time_Line{
	width:120px;
	height:1200px;
	border: 1px solid;
	margin: 5px auto;
	float: left;
}
#SNS_Profile_Information{/* 하단 프로필 정보 영역 */
	position:relative;
	width: 1250px;
	height:auto;
	border: 1px solid #b3a9eb;
	z-index: 0;
	float: left;
	background: #eae6fa;
	margin-top: 10px;
	border-radius: 10px;
	padding-left:47px;
	padding-bottom:47px;
/* 	margin-right:50px; */
	padding-top:30px;
	text-align: center;
}
#SNS_Profile_Collect{/* 하단 모아보기 영역 */
	position:relative;
	min-height:400px;
	width: 1250px;
	height:auto;
	border: 1px solid #b3a9eb;
	z-index: 0;
	float: left;
	background: #eae6fa;
	margin-top: 10px;
	border-radius: 10px;
	padding-left:47px;
	padding-bottom:47px;
/* 	margin-right:50px; */
	-ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
#SNS_Profile_Donate{/* 하단 후원하기 영역 */
	position:relative;
	width: 1250px;
	height:auto;
	border: 1px solid #b3a9eb;
	z-index: 0;
	float: left;
	background: #eae6fa;
	margin-top: 10px;
	border-radius: 10px;
	padding-bottom:47px;
	padding-top:30px;
	text-align: center;
}
#SNS_Profile_Friends{/* 하단 친구목록 영역 */
	position:relative;
	width: 1250px;
	height:auto;
	border: 1px solid #b3a9eb;
	z-index: 0;
	float: left;
	background: #eae6fa;
	margin-top: 10px;
	border-radius: 10px;
	padding-bottom:30px;
	padding-top:30px;
	padding-left:30px;
	text-align: center;
}
#SNS_Profile_Friends ul{
	list-style: none;
}
/*
#SNS_Profile_Info{ /* 프로필 정보 버튼
	padding-top: 10px;
	position: relative;
	text-align: center;
	width:200px; 
	height:120px;
	transition: 1.2s;
	background: #d4cff3;
	z-index: 2;
	font-size:10px;
	line-height: 12px;
	float:left;
	cursor:pointer;
}
/*
#SNS_Profile_Info:hover{/* 애니메이션 효과 
	width: 1145px;
	height: 130%;
	background: #6a67ce;
	z-index: 2;
	padding-top: 50px;
	font-size: 30px;
	line-height: 62px;
	border:1px solid #a3a0e0;
	float: none;
}
#SNS_Profile_Info:hover #SNS_Profile_Info_Title{
	opacity:0;
	font-size:8px;
}*/
#SNS_Profile_Info_Title{
	margin-top:15px;
	opacity:1;
	transition:0.2s;
	font-size:24px;
}
.SNS_Profile_Menu_Button{/* 버튼 */
	width:250px;
	height:65px;
	cursor: pointer;
	border: none;
	border-left: 1px solid #b3a9eb;
	font-size: 22px;
	float:left;
	outline:none;
	transition: 0.2s;
	text-align: center;
	line-height: 65px;
	color:#585858;
}
/* #SNS_Profile_Menu_Ul:first-child{
	font-size: 90px;
} */
li.SNS_Profile_Menu_Button:first-child{
	border-bottom-left-radius: 15px;
}
li.SNS_Profile_Menu_Button:last-child{
	border-bottom-right-radius:15px;
}
.SNS_Profile_Menu_Button:hover{
	height:70px;
	/* margin-top:5px; */
	background:#bbb3ec;
}
.Profile_Button2{
	border-right: 1px solid #b3a9eb;
}
#SNS_Profile_Introduce{/* 간단 소개 */
	position: absolute;
	top:50px;
	text-align:center;
	width: 100%;
	height: 100%;
	transition: 0.4s;
	z-index:3;
	color:white;
	font-size: 35px;
	margin: auto;
	opacity: 0;
	line-height: 500px;
	padding: 0px 25px;
}
#SNS_Profile_Introduce p{
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
	-webkit-text-stroke: 1px #000;
	padding:0px;
}

/* 상단 메뉴 열거 */
#SNS_Profile_Ground{
	transition:0.6s;
}
#SNS_Profile_Background{/* 배경화면 */
	position:absolute;
	width:1250px;
	height: 500px;
	z-index:1;
	transition:0.6s;
	background-image:url(../images/sns_back1.jpg);
/* 	background-repeat:no-repeat; */
	background-size: cover;
}
#SNS_Profile_Foreground{/*애니메이션 배경화면 */
	position:absolute;
	width: 1250px;
	height: 50px;
	transition: 0.5s;
/* 	z-index:2; */
	background-repeat:no-repeat;
	background-size: cover;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
#SNS_Profile_Foreground_Img{
	position:relative;
	z-index:2;
	width: 1200px;
	height:50px;
	float: left;
}
#SNS_Profile_Ground:hover #SNS_Profile_Foreground{
	height:500px;
}
#SNS_Profile_Ground:hover #SNS_Profile_Photo{
	opacity: 0;
}
#SNS_Profile_Ground:hover #SNS_Profile_Title_Name{
	opacity: 0;
}
#SNS_Profile_Ground:hover #SNS_Profile_Background{
	opacity: 0.7;
}
#SNS_Profile_Ground:hover #SNS_Profile_Introduce{
	opacity: 1;
}
#SNS_Profile_Photo{ /* 프로필 사진*/
	position:relative;
	text-align:center;
	top:250px;
	left: 5px;
	width:200px; height:200px;
	border-radius:200px;
	margin: 15px 30px;
	z-index: 2;
	transition: 0.3s;
	border: 2px solid white;
}
#SNS_Profile_Title_Name{
	position:absolute;
	top:425px;
	left:245px;
	width:550px;
	height:45px;
	font-size:45px;
	padding-top:20px;
	float:left;
	z-index: 2;
	color: white;
	font-weight:500;
	-webkit-text-stroke: 1px #000;
	transition: 0.6s;
}

.SNS_Profile_Menu_Ul{
	list-style: none;
}


/* 하단 메뉴 열거 */
#SNS_Profile_Intro{
	width:780px;
	height: 20px;
	margin: 20px 0px 0px 10px;
	font-size: 20px;
	text-align: right;
}
#SNS_Profile_Ul{
	list-style: none;
}
.SNS_Profile_Image{
	position: relative;
	width:365px;
	height: 365px;
	margin: 17px 19px 17px 7.5px; /* 가로 세로 */
	text-align: center;
	z-index: -1;
	float:left;
}
.SNS_Profile_Image_Photo{
	position:relative;
	width:365px;
	height: 365px;
	margin-right: 10px;
	transition: .2s ease;
	backface-visibility: hidden;
}
.SNS_Profile_Image_Center{
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  border: 1px white;
  margin-top: 10px;
}
.SNS_Profile_Image_Like{
	transition: .2s ease;
	opacity: 0;
	position: absolute;
	top: 82%;
	left: 86%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	cursor: pointer;
}
.SNS_Profile_Image_Info{
	transition: .2s ease;
	opacity: 0;
	position: absolute;
	top: 7%;
	left: 3%;
	width: 340px;
	height: 40%;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
}
.SNS_Profile_Image_Info p{
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}
.SNS_Profile_Image_Center p{
	background-color:  #9d8ce2;
	color: white;
	font-size: 13px;
	padding: 16px 32px;
	font-weight: 700;
	border-radius: 15px;
}
.SNS_Profile_Image_Like p{
	color: pink;
	font-size: 42px;
	padding: 16px 32px;
	-webkit-text-stroke: 2px white;
}
.SNS_Profile_Image:hover .SNS_Profile_Image_Photo{
	opacity: 0.3;
}
.SNS_Profile_Image:hover .SNS_Profile_Image_Center{
	opacity: 1;
}
.SNS_Profile_Image:hover .SNS_Profile_Image_Like{
	opacity: 1;
}
.SNS_Profile_Image:hover .SNS_Profile_Image_Info{
	opacity: 1;
}

.SNS_Background{
	background:#d4cff3;
}
.SNS_Background2{
	background: #1aafd0;
}
.SNS_Background3{
	background: #6a67ce;
}
.SNS_Background4{
	background: #ffb900;
}
.SNS_Background5{
	background: #fc636b;
}
.SNS_Background6{
	background: #eae6fa;
}
.SNS_Profile_Friends_Li{
	width: 577px;
    height: 240px;
    border: 1px solid #d4cff3;
    float: left;
    margin-right: 30px;
    border-radius: 12px;
    background: #e6e6e6;
    padding-top: 20px;
    padding-left: 25px;
    cursor: pointer;
    margin-bottom: 25px;
}
.SNS_Profile_Friends_Picture{
	position:relative;
	width: 190px;
	height: 190px;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
	display: inline-block;
}
.SNS_Profile_Frineds_Info{
	position:relative;
	width: 340px;
	height: 190px;
	margin-left: 10px;
	display: inline-block;
	padding-left:10px;
	padding-right:10px;
	text-align: left;
}
.SNS_Profile_Friends_Name{
	height: 30%;
	font-size: 24px;
	padding-top: 20px;
}
.SNS_Profile_Friends_Intro{
	height: 115px;
	font-size: 18px;
	padding-top: 20px;
}
.SNS_Profile_Friends_Out{
	position: relative;
    outline: none;
    border: 1px solid;
    left: 73%;
    top: -3px;
    cursor: pointer;
    width: 88px;
    height: 30px;
    border-radius: 20px;
    transition:1.5s;
}
.SNS_Profile_Friends_Out:hover{
	background: #ff4040;
}
.SNS_Profile_Post_Option{
	width:100px;
	height:30px;
	border:1px solid;
}
#SNS_Up_Join{
	margin-top: 20px;
}
#SNS_Insert_Form{
	line-height: 40px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30px;
}
#SNS_Insert_Page{
	width: 1200px;
    height: auto;
    min-height: 930px;
    margin: auto auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
#SNS_Join_Form{
	width: 460px;
    height: auto;
    margin: auto auto;
    margin-top: 150px;
    margin-bottom: 50px;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    outline: none;
}
.SNS_Content_Cont_Profile{
	font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    margin-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    float: left;
}
#SNS_Profile_Edit_Intro{
/* 	top: 200px; */
/* 	left: 500px; */
	outline:none;
	border-radius: 30px;
	border: 1px solid white;
    color: white;
    background: #6a67ce;
    cursor: pointer;
}
