@charset "UTF-8";

#SNS_Messenger_All{
	background-color: #f2f0fb;
	align-items: center;
}
#SNS_Messenger_Wrap{ /* 전체 스타일 설정 */
	width: 1200px;
	height: 830px;
	box-sizing: border-box;
	line-height: 1em;
	margin: auto auto;
	background-color: rgba(255, 255, 255, 0);
	align-items: center;
	z-index: -2;
	padding-top: 15px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 15px;
}
/* 왼쪽 오른쪽 */
#SNS_Messenger_Left{
	width: 330px;
	height: 800px;
	float: left;
	z-index: 2;
	background: #eae6fa;
	border-radius: 15px;
	padding: 10px;
	margin-right: 20px;
}
#SNS_Messenger_Mid{
	width: 500px;
	height: auto;
	float: left;
}
#SNS_Messenger_Mid_Up{
	width:500px;
	height:73px;
	padding-top: 10px;
	padding-left: 5px;
}
#SNS_Messenger_Mid_Down{
	width: 500px;
	height: auto;
	float: left;
	border: 1px solid #b3a9eb;
	border-radius: 10px;
	z-index: 0;
	background: #eae6fa;
}
#SNS_Messenger_Right_Up{
	width:250px;
	height:390px;
	float: left;
	border: 1px solid #b3a9eb;
	margin-left: 20px;
	border-radius: 10px;
	padding: 10px;
}
/* 왼쪽 메뉴 열거 */
#SNS_Messenger_Photo{ /* 프로필 사진*/
	text-align:center;
	width:50px; 
	height:50px;
	margin-left: 10px;
	border-radius:200px;
	float: left;
}
#SNS_Messenger_Photo_Title{
	font-size: 26px;
	margin-top: 20px;
	margin-left: 75px;
}
#SNS_Messenger_Chat{
	width: 307px;
	height: 708px;
	margin-top: 40px;
	overflow-y: scroll;
	overflow-x: hidden;	
}
#SNS_Messenger_Chat_List{
	width: 277px;
	height: 60px;
	margin-bottom: 7px;
	border-radius: 9px;
	padding: 13px;
	cursor:pointer;
	background-color: #fdfdff;
}
#SNS_Messenger_Chatting{
	width: 203px;
	float: left;
}
#SNS_Messenger_Chat_Day{
	margin-top:25px;
	width: 40px;
	height: 10px;
	float: left;
	text-align: right;
}
#SNS_Messenger_Chat_Photo{
	width:30px;
	height:30px;
	border-radius: 20px;
	float: left;
}
#SNS_Messenger_Chat_Name{
	font-size: 15px;
	margin-top: 3px;
	margin-left: 43px;
}
#SNS_Messenger_Chat_Talk{
	font-size: 14px;
	margin-top: 12px;
	margin-left: 43px;
}
#SNS_Messenger_Menu_Button{
	margin-top: 5px;
	width:300px;
	height:70px;
	cursor: pointer;
	border: none;
	font-size: 22px;
}
#SNS_Messenger_Menu_Ul{
	list-style: none;
}
#SNS_Messenger_Set{ /* 프로필 설정 */
	position:relative;
	width:300px; height:600px;
	z-index: 0;
	list-style: none;
}

/* 오른쪽 메뉴 열거 */
#SNS_Messenger_Intro{
	width:430px;
	height: auto;
	margin: 10px 0px 0px 10px;
	font-size: 16px;
	padding-bottom: 15px;
}
#SNS_Messenger_Text{
	width: 473px;
	height: 500px;
	resize: none;
	overflow-y:scroll;
	overflow-x:hidden;
}
#SNS_Messenger_Text_Write{
	font-size: 15px;
	margin-top: 15px;
	width: 457px;
	height: 25px;
	resize: none;
	border: none;
	border-radius: 15px;
	background: #f2f0fb;
	padding-top: 7px;
	padding-left: 15px;
}
#SNS_Messenger_Text_Write:focus{
	outline:none;
}
#SNS_Messenger_Text_Left{
	width:457px;
	heigth: 35px;
}
#SNS_Messenger_Text_Right{
	width:457px;
	heigth: 35px;
	display: flex;
	flex-direction: row-reverse;
}
#SNS_Messenger_Text_U{
	width: auto;
	height:33px;
	border-radius: 10px;
	display: inline-block;
    position: relative;
    margin: 5px 15px 10px 5px;
	padding-top: 14px;
	padding-left: 8px;
	padding-right: 8px;
	background: #8bdff1;
}
#SNS_Messenger_Text_M{
	width: auto;
	height:33px;
	border-radius: 10px;
	display: inline-block;
    position: relative;
    background: #d4d4d4;
    margin: 5px 15px 10px 5px;
	padding-top: 14px;
	padding-left: 8px;
	padding-right: 8px;
	background: #fdacb0;
}
#SNS_Messenger_Ul{
	list-style: none;
}
#SNS_Messenger_Image{
	width:250px;
	height: 250px;
	margin: 0px 7.5px 7.5px 7.5px; /* 가로 세로 */
	text-align: center;
	z-index: -1;
	float:left;
}
#SNS_Messenger_Image img{
	cursor:pointer;
	width:250px;
	height: 250px;
	border: 3px solid;
}
/* 오른쪽 메뉴 열거 */
#SNS_Friend_Image{
	height: 200px;
	padding-left: 49px;
}
#SNS_Friend_Image img{
	width:140px;
	height:140px;
	border-radius: 80px;
	cursor: pointer;
}
#SNS_Friend_Image h4{
	padding-top: 25px;
	padding-left: 20px;
	font-size: 24px;
	cursor: pointer;
}
#SNS_Friend_Menu{
	margin-top: 10px;
	height:164px;
}
#SNS_Friend_Ul{
	font-size: 18px;
	height:40px;
	list-style: none;
	text-align: center;
}
#SNS_Friend_Li{
	height:40px;
}
#SNS_Friend_Button{
	background: #d4cff3;
	border: none;
	border-radius: 20px;
	width: 225px;
	height: 37px;
	cursor: pointer;
}
#SNS_Friend_Button:focus{
	outline: none;
}