@charset "UTF-8";

#movie_main_list { /**바디 전체 부분*/
	width: 1200px;
	min-height: 1024px;
	height: auto;
	margin-left: auto;
	margin-right: auto;

}
#slide_show, #video_list { /**바디 상단 글 , 카테고리들을 감싸고 있는 div css*/
	float: left;
	width: 1200px;
	height: auto;
	margin: 0px 0px 0px 0px;
}
#slide_show h1 { /**상단 h1 글 영역 설정*/
	text-align: center;
	font-size: 35px;
	font-family: '맑은 고딕';
	color: navy;
	margin-top: 220px;
	margin-bottom: 180px;
	line-height: 100px;
	text-shadow: 2px 2px 6px gray; /**그림자 효과*/
	font-weight: bold; /**글자 굵기*/
}
#Upcoming_movies {
	width: 150px;
	text-align: center;
	margin-left: 1043px;
	margin-bottom: 14px;
	font-size: 17px;
	line-height: 24px;
	border-bottom: 2px outset red;
}
#thriller, #action, #documentary, #history, #sf,
#love, #comedy, #ani, #etc { /**카테고리별 css 동시에 동일하게 적용*/
	width: 1200px;
	height: 510px;
}
#thriller {
	background-image: url("../images/thrillerCategory.png");
	background-repeat: no-repeat;
	background-size: 1200px 510px;
}
#action {
	background-image: url("../images/actionCategory.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 510px;
}
#documentary {
	background-image: url("../images/dacuCategory.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 510px;
}
#history {
	background-image: url("../images/historyCategory.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 510px;
}
#sf {
	background-image: url("../images/sfCategory.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 510px;
}
#love {
	background-image: url("../images/loveCategory.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 510px;
}
#comedy {
	background-image: url("../images/comedyCategory.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 510px;
}
#ani {
	background-image: url("../images/aniCategory.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 510px;
}
#etc {
	background-image: url("../images/etcCategory.jpg");
	background-repeat: no-repeat;
	background-size: 1124px 510px;
	background-position: right;
}
.listName_and_moreBtn {
	float: left;
	width: 1200px;
}
.listName a { /**장르 이름*/
	float: left;
	width: 268px;
	margin-top: 40px;
	margin-left: 45px;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
	color: white;
	text-shadow: 4px 4px 4px black;
}
#loveListName a, #comedyListName a {
	float: left;
	width: 268px;
	margin-top: 40px;
	margin-left: 45px;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
	color: white;
	text-shadow: 4px 4px 4px gray;
}
#etcListName a {
	float: left;
	width: 268px;
	margin-top: 40px;
	margin-left: 45px;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
	color: navy;
	text-shadow: 4px 4px 4px silver;
}
.moreView img { /**더 보기 버튼*/
	float: right;
	width: 100px;
	margin-top: 207px;
	margin-right: 30px;
}
/**부가적인 설정*/
.category_line { /**hr tag 설정*/
	border: 0;
	height: 7px;
	background: #ccc;
	position: relative;
	margin-top: 7px;
	margin-bottom: 7px;
}
#Upcoming_movies a:hover {
	color: gray;
	text-shadow: 1px 1px 3px silver;
} /**각 id 또는 class 하이퍼링크 개별 적용*/
.listName a:hover, #loveListName a:hover, #comedyListName a:hover, #etcListName a:hover {
	text-decoration: none; /*하이퍼링크된 곳에 마우스를 갖다댔을 때 액션*/
}
#Upcoming_movies a:link, .moreView a:link, .listName a:link, #loveListName a:link, #comedyListName a:link, #etcListName a:link {
	text-decoration: none; /* 하이퍼링크된 곳의 밑줄선을 없앰 */
}
#Upcoming_movies a:active, .moreView a:active .listName a:active, #loveListName a:active, #comedyListName a:active, #etcListName a:active {
	text-decoration: none; /* 하이퍼링크된 곳을 클릭하는 순간 밑줄 선 없앰 */
}
#Upcoming_movies a:visited, .moreView a:visited .listName a:visited, #loveListName a:visited, #comedyListName a:visited, #etcListName a:visited {
	text-decoration: none; /* 한번이라도 클릭한 곳의 밑줄선 없앰 */
}