@charset "UTF-8";

/*movie_cont.jsp의 모든 구역 css*/
#movie_comment {
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}
/*페이지 위 영상 부분*/
#video {
	width: 1200px;
	height: 700px;
	margin: 0px auto;
	padding-top: 75px;
}


/*게시자 정보*/
#videoInfo {
	width: 1200px;
	margin: 0px auto;
	margin-top: 75px;
	border: 1px solid red;
}
/*영상 제목*/
.subTitle {
	float: left;
	font-size: 20px;
	color: black;
	font-family: '맑은 고딕';
	margin: 24px 0px 0px 2px; 
	line-height: 20px;
}
/*영상 설명란*/
.subInfo {
	float: left;
	font-size: 12px;
	font-family: '맑은 고딕';
	color: #808080;
	margin: 12px 0px 24px 2px;
	line-height: 12px;
}
/*영상 게시자*/
#videoInfo img {
	float: left;
	width: 55px;
	height: 50px;
	margin-top: 12px;
	border-radius: 25px;
}
#videoInfo b {
	float: left;
	margin-top: 46px;
	margin-left: 2px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px 1px 3px gray;
}
#videoInfo a:hover {
	color: #000000;
	text-shadow: 1px 1px 3px black;
}
.subCont {
	float: left;
	font-size: 14px;
	color: black;
	font-family: '맑은 고딕';
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 57px;
	line-height: 28px;
}


/**댓글 감싸기*/
#video_reply_service {
	width: 1200px;
	height: 700px;
	border: 1px solid red;
	font-size: large;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 350px;
}


/**페이지 아래 우측 공간 추가 영상 목록*/
#other_Movie {
	float: left;
	width: 335px;
	margin-left: 0px;
}
.mVideo {
	float: left;
	margin: 0px 0px 12px 26px;
	width: 280px;
	font-family: '맑은 고딕';
	font-size: 14px;
}
.mVideo img {
	padding-top: 10px;
}


/**기타 작업 코딩(hover, href tag css)*/
.clear{
    clear:both; /*float속성을 제거해서 잘못된 UI적용을 막아줌*/
}