@charset "UTF-8";

#movie_comment {											/*movie_cont.jsp의 모든 구역 css*/
	width: 1200px;
	min-height: 1024px;
	height: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;

}
#video {													/**페이지 위 영상 부분*/
	width: 1070px;
	height: 502px;
	margin-top: 5px;
	margin-left: 62px;
}


/**게시자 정보 CSS start*/
#videoInfo {												/**영상 제목, 영상 구독자, 영상 설명란, 영상 올린 날짜 등*/
	float: left;
	width: 1100px;
	margin: 7px 0px 0px 50px;
}
.subTitle {
	float: left;
	font-size: 20px;
	color: black;
	font-family: '맑은 고딕';
	margin-top: 17px;
	margin-left: 20px;
}
.subInfo {
	float: left;
	font-size: 12px;
	color: #808080;
	font-family: '맑은 고딕';
	margin-top: 12px;
	margin-bottom: 10px;
	margin-left: 20px;
	font-style: italic;
}
#videoInfo img {
	float: left;
	width: 55px;
	height: 50px;
	margin-top: 12px;
	margin-left: 20px;
	border-radius: 25px;
}
#videoInfo b {
	float: left;
	margin-top: 46px;
	margin-left: 2px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px 1px 3px gray;
}
#videoInfo a:hover {
	color: #000000;
	text-shadow: 1px 1px 3px black;
}
.subCont {
	float: left;
	font-size: 14px;
	color: black;
	font-family: '맑은 고딕';
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 25px;
}


/**댓글 작성 CSS start*/
#review {
	float: left;
	width: 750px;
	border: 1px solid red;
	margin-left: 70px;
}
.reviewer img{
	float: left;
	width: 55px;
	height: 50px;
	border: 1px solid red;
	border-radius: 25px;
}
#reviewText textarea {
	font-style: italic;
	width: 684px;
	height: 25px;
	overflow-y: hidden;
	background: clear;
	margin-left: 3px;
	border: 1px solid red;
}

#footer.review-commentbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
#buttons.review-commentbox {
	display: flex;
	flex-direction: row;
}
#cancel-button.review-commentbox, #submit-button.review-commentbox {
	margin-left: 8px;
	font-size: 1.4rem;
}
/**댓글 목록 CSS start*/



/**페이지 아래 우측 공간 추가 영상 목록*/
#other_Movie {
	float: left;
	width: 335px;
	margin-left: 0px;
}
.mVideo {
	float: left;
	margin: 0px 0px 12px 26px;
	width: 280px;
	font-family: '맑은 고딕';
	font-size: 14px;
}
.mVideo img {
	padding-top: 10px;
}


/**기타 작업 코딩(hover, href tag css)*/
.clear{
    clear:both; /*float속성을 제거해서 잘못된 UI적용을 막아줌*/
}
a:link {
	text-decoration: none; /* 하이퍼링크된 곳의 밑줄선을 없앰 */
}
a:active { /* 하이퍼링크된 곳을 클릭하는 순간 밑줄 선 없앰 */
	text-decoration: none;
}
a:visited { /* 한번이라도 클릭한 곳의 밑줄선 없앰 */
	text-decoration: none;
}
a:hover { /* 하이퍼링크된 곳에 마우스를 가져다 댔을 때 밑줄 선 없앰 */
	text-decoration: none;
	color: blue;
	text-shadow: 1px 1px 3px blue;
}