@charset "UTF-8";
/*바디 전체 부분*/
/*장르별 목록 적용*/
#movie_box {
	width: 1200px;
	min-height: 1024px;
	height: auto;
	margin-top: 25px;
}
/*상단 글*/
#fList_title {
	float: left;
	height: 625px;
	margin-bottom: 100px;
	background-image: url("../images/VideoCategoryImg.PNG");
	background-repeat: no-repeat;
	background-size: 1200px 565px;
}
#other_category_container {
	float: left;
	width: 1100px;
	padding-top: 20px;
	font-size: 24px;
	font-family: '맑은 고딕';
	font-style: italic;
	text-align: center;
	text-shadow: 3px 3px 4px #808080;
	line-height: 50px;
	margin-top: 564px;
}
#other_category_container span {
	margin-left: 15px;
	margin-right: 15px;
}
/*목록 페이지*/
.cinema {
	float: left;
	min-height: 512px;
	height: auto;
	margin: 20px 0px 0px 0px;
}
/*영상*/
.mBox_item {
	float: left;
	width: 247px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 1px solid white;
	border-left: 1px solid white;
	margin: 75px 26px 150px 26px;
	
	background-color: white; /**w3schools source*/
	box-shadow: 14px 14px 12px #888888;
	border-radius: 14px;
}
/*영상 이미지*/
.mBox_item img {
	width: 244px;
	height: 240px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom: 1px solid silver;
}
/*영상 제목*/
.container {
	float: left;
	width: 238px;
	height: 50px;
	font-size: 17px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-shadow: 3px 3px 4px silver;
	margin-top: 24px;
	margin-left: 2px;
	line-height: 22px;
	color: black;
}
/*영상 간략 설명란*/
.movie_postInfo {
	transition: .0s ease;
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 50px;
	transform: translate(-50px, -50px);
	-ms-transform: translate(-50px, -50px);
}
/*영상 간략 설명 글*/
.info_cont {
	text-shadow: 3px 3px 4px silver;
	color: black;
	font-size: 14px;
	font-weight: bold;
	margin-top: 17px;
	margin-left: 12px;
	line-height: 20px;
}
/*검색 구간 전체 DIV */
#vPost_search {
	width:1200px;
	display:inline-block;
	text-align:center;
	margin-top: 75px;
}
/*검색 구간 콤보 박스*/
#findField {
	display: inline-block;
	width: auto; height: 32px;
	padding-left: 9px;
	padding-top: 2px;
	font-size: 12px;
	color: #a5a5a5;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}
/*검색 입력 창, 버튼 통합 DIV*/
#vPost_input {
	display:inline-table;
}
#findName {
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #a5a5a5;
	padding-top: 4px;
}
/*기타 부수거리 작업*/
/*영상 액션 주기 (크기 변화)*/
.mBox_item:hover {
	transform: scale(1.2);
}
/*영상 간략 설명 글 (투명도)*/
.mBox_item:hover .movie_postInfo {
	opacity: 1;
}
/*영상 액션 주기 (투명도)*/
.mBox_item:hover .image {
	opacity: 0.1;
}
/*float속성을 제거해서 잘못된 UI적용을 막아줌*/
.clear{
    clear:both;
}
.mBox_item a:hover, #list_page_num a:hover, #other_category_container a:hover {
	color: teal;
	text-shadow: 1px 1px 3px silver;
} /**각 id 또는 class 하이퍼링크 개별 적용*/
.mBox_item a:link, #list_page_num a:hover, #other_category_container a:link {
	text-decoration: none; /* 하이퍼링크된 곳의 밑줄선을 없앰 */
}
.mBox_item a:active, #list_page_num a:hover, #other_category_container a:active {
	text-decoration: none; /* 하이퍼링크된 곳을 클릭하는 순간 밑줄 선 없앰 */
}
.mBox_item a:visited, #list_page_num a:hover, #other_category_container a:visited {
	text-decoration: none; /* 한번이라도 클릭한 곳의 밑줄선 없앰 */
}